

body{
    background-color: #f8f7f3;
    width: 70%;
    margin: auto;
}

h1{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 60px;
    text-align: center;
    padding-top: 54px;
    margin: none;
    color: #eb5e28;
    text-shadow: 2px 2px 2px rgba(105, 105, 105, 0.674);
}
div#container > header{
    width: 100%;
 box-shadow: 8px 9px 40px 0px #bababa;
    margin: 10px 5px 10px 5px;
    background-color: #403d38;
    border-radius: 15px;
}
h2{
    text-align: center;
    color: #ed7444;
}

h3{
    text-align: center;
    color: #f0855b;
}

blockquote {
    text-align: center;
    color: #ed7444;
}

ul{
    padding: 10px;
    color:#ed7444;
    display:flex;
    justify-content: space-evenly;
}


a{
    padding: 10px;
    display: flex;
    justify-content:space-between;
    text-decoration:none;
    color:white;
}
        
        footer{
            background-color: #f0855b;
            border-radius: 20px;
        }
        
footer > p {
    display: flex;
    justify-content: center;
    margin: auto;
    color: #403d38;
        }
        
footer > h2{
    display:flex;
    justify-content:center;
    text-align:center;
    color: #403d38;
    text-shadow: none;
        }
        
        